.card {
    height: 190px;
}

.image-style {
    min-height: 10px;
}

.card-title-height {
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.gradientBackground {
    background-image: linear-gradient(135deg, #007bff, #6c757d);
}